In [3]:
from asyncore import read
import pandas as pd

train_df = pd.read_csv('data/train.csv')
train_df.info()

C:\Users\nayor\AppData\Local\Temp\ipykernel_736\120508819.py:1: DeprecationWarning: The asyncore module is deprecated and will be removed in Python 3.12. The recommended replacement is asyncio
  from asyncore import read

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
train_df.describe().T

In [ ]:
# Задание: вывести на экран имена, возраст и класс каюты первых десяти пассажиров
train_df[['Name', 'Age', 'Pclass']].head(10)

In [ ]:
# Выведем данные только о пассажирах 1 класса (первые 10 строк):
train_df[train_df['Pclass']==1].head(10)

In [ ]:
train_df[train_df['Pclass']==1].mean()

In [ ]:
train_df[train_df['Pclass']!=1].mean()

In [ ]:
female_survived = round(train_df[train_df['Sex'] == 'female']['Survived'].value_counts(normalize=True) * 100)
male_survived = round(train_df[train_df['Sex'] == 'male']['Survived'].value_counts(normalize=True) * 100)
print(f'Male survived {male_survived[1]} %\nFemale survived {female_survived[1]} %')

In [ ]:
from locale import normalize


for sex in train_df['Sex'].unique():
    if sex == 'male':
        print('Male surviveability rate:')
    else:
        print('Female surviveability rate:')
    print(round(train_df[train_df['Sex']== sex]['Survived'].value_counts(normalize=True) * 100))

In [ ]:
for sex in train_df['Sex'].unique():
    if sex == 'male':
        print('Male surviveability rate:')
    else:
        print('Female surviveability rate:')
    print(round(train_df[(train_df['Sex']== sex) & (train_df['Pclass']== 1)]['Survived'].value_counts(normalize=True) * 100))

In [4]:
for sex in train_df['Sex'].unique():
    for pclass in sorted(train_df['Pclass'].unique()):
        if sex == 'male':
            print(f'Male surviveability rate in {pclass} class:')
        else:
            print(f'Female surviveability rate in {pclass} class:')
        print(round(train_df[(train_df['Sex']== sex) & (train_df['Pclass']== pclass)]['Survived'].value_counts(normalize=True) * 100))

Male surviveability rate in 1 class:
0    63.0
1    37.0
Name: Survived, dtype: float64
Male surviveability rate in 2 class:
0    84.0
1    16.0
Name: Survived, dtype: float64
Male surviveability rate in 3 class:
0    86.0
1    14.0
Name: Survived, dtype: float64
Female surviveability rate in 1 class:
1    97.0
0     3.0
Name: Survived, dtype: float64
Female surviveability rate in 2 class:
1    92.0
0     8.0
Name: Survived, dtype: float64
Female surviveability rate in 3 class:
1    50.0
0    50.0
Name: Survived, dtype: float64

In [9]:
train_df.groupby(by=['Pclass', 'Sex'])['Survived'].value_counts()

Pclass  Sex     Survived
1       female  1            91
                0             3
        male    0            77
                1            45
2       female  1            70
                0             6
        male    0            91
                1            17
3       female  0            72
                1            72
        male    0           300
                1            47
Name: Survived, dtype: int64

In [43]:
#Определение минимальной, средней и максимальной стоимости билета, исключая нулевые значения

train_df[train_df['Fare']!=0].groupby(by= 'Pclass')['Fare'].agg(['min', 'mean', 'max'])

            min       mean       max
Pclass
1        5.0000  86.148874  512.3292
2       10.5000  21.358661   73.5000
3        4.0125  13.787875   69.5500