In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/hotdonkey/Documents/GitHub/data_science_learning/code/skillfactory/EDA/data/wine_cleared.csv')

In [8]:
df.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  129971.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      39.577066
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      18.000000
50%     64985.000000      88.000000      28.000000
75%     97477.500000      91.000000      40.000000
max    129970.000000     100.000000    3300.000000

In [9]:
import statistics

In [14]:
round(statistics.mean(df['price']),2)

35.36

In [21]:
round(df['price'].sum()/df['price'].count(),2)

35.36

In [24]:
round(sum(df['price'])/len(df['price']),2)

35.36

In [25]:
statistics.median(df['price'])

28.0

In [37]:
df['price'].median()

28.0

In [40]:
count_price = len(df['price']) # количество записей цен
sorted_price = sorted(df['price']) # отсортированные цены

if count_price % 2: # при нечетном кол-ве элементов выбираем средний по индексу 
    median = sorted_price[round(0.5*(count_price-1))]
else: # при четном кол-ве элементов выбираем 2 средних по индексу и считаем между ними среднее арифметическое
    index = round(0.5 * count_price)
    median_ = 0.5 * (sorted_price[index-1] + sorted_price[index])
median

28.0

In [42]:
round(statistics.mode(df['price']),2)

35.36

In [44]:
statistics.multimode(df['price'])

[35.363389129985535]

In [45]:
df['price'].mode()

0    35.363389
Name: price, dtype: float64